.containerForm {
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 16px;
    border: 1px solid #a3c9f9;
    border-radius: 8px;
    padding: 16px 26px;
    background-color: #f6f8fa;
    box-shadow: 0 2px 8px rgba(60, 60, 100, 0.07);
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 500;
    color: rgb(61, 60, 60)
}

input {
    padding: 6px 24px;
    outline: none;
    box-shadow: 1px 1px 3px #b7babc;
    border: 1px solid rgb(208, 217, 224);
    border-radius: 4px;
    margin-bottom: 6px;
}

input:hover,
input:focus,
input:active {
    border: 1px solid rgb(151, 156, 159);
    background-color: transparent !important;
    box-shadow: 1px 1px 3px rgb(130, 134, 136);

}

input:-internal-autofill-selected {
    background-color: transparent !important;

}

.btnAddContact {
    width: 150px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #a3c9f9;
    padding: 6px 12px;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.25s;
    box-shadow: 1px 1px 3px #a3c9f9;
    color: #3a86ff;
    text-align: center;
    margin-top: 12px;
    background: white;

}

.btnAddContact:hover {
    border-color: #a3c9f9;
    background-color: #a3c9f9;
    color: aliceblue;
    transform: scale(1.05);

}

.error {
    color: red;
    font-size: 14px;
    font-weight: 500;
    margin-top: -14px;
}