.header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.link {
    color: rgb(37, 39, 39);
    font-size: 26px;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.active {
    color: red;
    text-decoration: underline;
}