:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* max-width: 1280px; */
  text-align: center;
  background: linear-gradient(180deg, #f6f8fa 0%, #e0e1dd 100%);
  overflow-x: hidden;
}

#root {
  color: #22223b;
  margin: 0;

  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;
}

a {
  color: #3a86ff;
}

a:hover {
  color: #4361ee;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 1px 1px 3px #e0e1dd;
} */

.card,
.header,
.btn,
.containerForm,
.searchBox,
.item,
.listItem {
  background: #fff;
  border: 1px solid #e0e1dd;
  box-shadow: 0 2px 8px rgba(60, 60, 100, 0.07);
}


body.dark-theme {
  background: linear-gradient(180deg, #232526 0%, #414345 100%);
}

body.dark-theme,
body.dark-theme #root {
  color: #f1f1f1;
}



body.dark-theme a {
  color: #f1c40f;
}

body.dark-theme a:hover {
  color: #f7125b;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  text-shadow: 1px 1px 3px #a3c9f9;
}