.userMenu {
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.userMenu .username {
    font-size: 22px;
    font-weight: 600;
}

.light-theme .userMenu .username {
    color: #22223b;
}

.dark-theme .userMenu .username {
    color: #f1f1f1;
}

.btnLogout {
    min-width: 50px;
    padding: 2px;
}

.btnLogout:hover {
    background-color: #f7125b;
}

.iconLogout {
    width: 30px;
    height: 30px;
}