.userMenu {
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.userMenu .username {
    font-size: 22px;
    font-weight: 600;
}

.light-theme .userMenu .username {
    color: #22223b;
}

.dark-theme .userMenu .username {
    color: #f1f1f1;
}

.btnLogout {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
}

.btnLogout:hover,
.btnLogout:focus {
    background: none;
}

.iconLogout {
    width: 24px;
    height: 24px;
    color: #3a86ff;
    transition: color 0.2s;
}

.btnLogout:hover .iconLogout,
.btnLogout:focus .iconLogout {
    color: #f7125b;
}